{% extends 'base.html' %}
{% block content %}
<div class="header">
<h2 class="header-center">Groups:</h2>
</div>
    <div class="ml-5">
    <a class="btn btn-success" href="{% url 'group_create' %}" role="button">Create new</a>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-8">
    {% for group in group_list %}

        <div class="card" style="width: 25rem; ">
  <div class="card-body">
    <h5 class="card-title"><a class="nav nav-elem" href="{% url 'group_info' group_id=group.pk %}">
            {{ group.name }}</a>  {% if group.is_private %}<span class="badge badge-secondary">private</span></h5> {% endif %}

    <h6 class="card-subtitle mb-2 text-muted">Created: {{ group.date_created }} by {{ group.creator.username }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Theme: {{ group.get_theme_display }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Members:  {{ group.members.count }}</h6>



  </div>
    {% endfor %}
    </div>
    </div>

    </div>
    </div>

{% endblock %}